baseFont = 'PT Sans', sans-serif

@font-face
	font-family 'PT Sans'
	src url('../fonts/hinted-subset-PTSans-Bold.eot')
	src local('PT Sans Bold'), local('PTSans-Bold'),
		url('../fonts/hinted-subset-PTSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-PTSans-Bold.woff2') format('woff2'),
		url('../fonts/hinted-subset-PTSans-Bold.woff') format('woff'),
		url('../fonts/hinted-subset-PTSans-Bold.ttf') format('truetype'),
		url('../fonts/hinted-subset-PTSans-Bold.svg#PTSans-Bold') format('svg')
	font-weight bold
	font-style normal

@font-face
	font-family 'PT Sans'
	src url('../fonts/hinted-subset-PTSans-Regular.eot')
	src local('PT Sans'), local('PTSans-Regular'),
		url('../fonts/hinted-subset-PTSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-PTSans-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-PTSans-Regular.woff') format('woff'),
		url('../fonts/hinted-subset-PTSans-Regular.ttf') format('truetype'),
		url('../fonts/hinted-subset-PTSans-Regular.svg#PTSans-Regular') format('svg')
	font-weight normal
	font-style normal
