.skills
	display block
	size(auto, 433px)
	&__heading
		padding-top 67px
	&__text
		padding-top 10px
		size(771px, auto)
	&__checkbox
		padding-top 28px
		display flex
		size(858px, auto)
		.col
			display flex
			flex-direction column
			flex-grow 1
			
